* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: #bebebe;
	padding: 10px;
}

div {
	margin-left: 100px;
	margin-bottom: 50px;
}

h1 {
	margin: 10px 0;
}

h2 {
	padding: 10px 0;
}

li {
	margin-left: 20px;
}

img {
	max-width: 50%;
	max-height: 50%;
}
