* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	background-color: #eeeeee;
	padding: 10px;
	max-width: fit-content;
	margin: 10px;
}

div {
	width: fit-content;
	background-color: #eeeeee;
	margin: 50px auto;
	max-width: 80%;
	padding: 20px;
}

h1 {
	margin-bottom: 10px;
}

h2 {
	padding: 10px 0;
}

li {
	margin-left: 20px;
}

img {
	max-width: 50%;
	max-height: 50%;
}
